/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*            End of CSS Reset            */

/*                 Setup                  */

/*               Borderbox                */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}
body{
    font-family: "Myriad set Pro", "Helvetica Neue", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.45;
    font-weight: 400;
    letter-spacing: normal;
    color: #333;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
/* NAVIGATION */
nav {
    height: 44px;
    background: rgba(0,0,0,0.8);
}
nav ul {
    height: 44px;
}
nav li {
    display: inline-block;
    vertical-align: top;
    height: 44px;
}
nav li:not(:last-child) {
    margin-right: 51.6px;
}
nav a {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
}
.nav-link {
    background-origin: content-box;
    opacity: 1;
    height: 44px;
}
.nav-link:hover {
    opacity: 0.65;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#nav-apple-logo {
    width: 40px;
    background: url(apple/apple/images/navbar/apple-icon.png) 50% 50% no-repeat;
}
#nav-mac {
    width: 47.5px;
    background: url(apple/apple/images/navbar/mac.png) 50% 50% no-repeat;
}
#nav-ipad {
    width: 46.7px;
    background: url(apple/apple/images/navbar/ipad.png) 50% 50% no-repeat;
}
#nav-iphone {
    width: 62.7px;
    background: url(apple/apple/images/navbar/iphone.png) 50% 50% no-repeat;
}
#nav-watch {
    width: 59.1px;
    background: url(apple/apple/images/navbar/watch.png) 50% 50% no-repeat;
}
#nav-tv {
    width: 37px;
    background: url(apple/apple/images/navbar/tv.png) 50% 50% no-repeat;
}
#nav-music {
    width: 55px;
    background: url(apple/apple/images/navbar/music.png) 50% 50% no-repeat;
}
#nav-support {
    width: 70px;
    background: url(apple/apple/images/navbar/support.png) 50% 50% no-repeat;
}
#nav-search {
    width: 40px;
    background: url(apple/apple/images/navbar/search.png) 50% 50% no-repeat;
}
#nav-shop {
    width: 40px;
    background: url(apple/apple/images/navbar/shop.png) 50% 50% no-repeat;
}
/* HERO SECTION */
.hero {
    margin-top: 11px;
}
#product-img {
    display: inline-block;
    background: url(apple/apple/images/iphone-6s-change_large.jpg) 0 0 no-repeat;
    background-size: 420px 571px;
    width: 420px;
    height: 571px;
    margin-left: 4px;
}
#product-info {
    position: absolute;
    width: 440px;
    top: 261px;
    margin-left: 50px;
    display: inline-block;
}
#product-name {
    background: url(apple/apple/images/iphone_6s_large.png) no-repeat;
    background-size: 330px 61px;
    width: 330px;
    height: 61px;
    margin: 0 auto 13px;
}
#product-text {
    text-align: center;
    font-size: 39.5px;
    line-height: 1.1;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 27.5px;
}
#product-links {
    text-align: center;
}
#product-links > li {
    display: inline-block;
    font-size: 23.7px;
    line-height: 1.3375;
    font-weight: 300;
    margin: 0 6px 12px;
}
#product-links > li > a {
    color: #08c;
    text-decoration: none;
}
/* HERO SUB SECTION */
.hero-sub-section {
    margin-top: 16px;
}
.hero-sub-images {
    height: 200px;
    background-size: 640px 200px;
    border-right: 2px solid #fff;
    background: grey;
}
.col-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
#hero-sub-watch {
    background: url(apple/apple/images/watch_large.jpg) center center no-repeat;
}
#hero-sub-ipad {
    background: url(apple/apple/images/ipad_pro_large.jpg) center center no-repeat;
}
#hero-sub-access {
    background: url(apple/apple/images/accessories_large.jpg) center center no-repeat;
}
#hero-sub-macbook {
    background: url(apple/apple/images/macbook_large.jpg) center center no-repeat;
    border-right: none;
}
#exchange {
}